<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>149364194934-sr15spoqpgmlsb1sjlr6ultj1ur5raru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149364194934-sr15spoqpgmlsb1sjlr6ultj1ur5raru</string>
	<key>API_KEY</key>
	<string>AIzaSyAc80kpzJTwsF0Rm68247wvdrVpnMovf_s</string>
	<key>GCM_SENDER_ID</key>
	<string>149364194934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tutorial.CustomEmailLogin</string>
	<key>PROJECT_ID</key>
	<string>customemaillogin-e783b</string>
	<key>STORAGE_BUCKET</key>
	<string>customemaillogin-e783b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149364194934:ios:338f846f8b47fc81</string>
	<key>DATABASE_URL</key>
	<string>https://customemaillogin-e783b.firebaseio.com</string>
</dict>
</plist>