<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>615481472970-gl9npa7q2books06k01mo90grpp3faug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615481472970-gl9npa7q2books06k01mo90grpp3faug</string>
	<key>API_KEY</key>
	<string>AIzaSyCvlxyX3FZ7GoXSEo4FKgX5MpoztdAR0LE</string>
	<key>GCM_SENDER_ID</key>
	<string>615481472970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ParkIt.ParkIt</string>
	<key>PROJECT_ID</key>
	<string>parkit-eb667</string>
	<key>STORAGE_BUCKET</key>
	<string>parkit-eb667.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615481472970:ios:1d1f1d22f8c56f35</string>
	<key>DATABASE_URL</key>
	<string>https://parkit-eb667.firebaseio.com</string>
</dict>
</plist>